
body {
    background-color:  #F2F2F2;
    /*
    padding-top: 80px;
    */
}

#LIST {
    height: 100%;
    z-index: 1;
    /*
    position: fixed;
    */
}

#MENU {
    height: 100%;
}

#CONTENT {
    height: 100%;
}

div#PLAYER {
    height: 80px;
    /*
    z-index: 100;
    position: fixed;
    */
}

iframe#FRAME_PLAYER {
    border: none;
    width: 100%;
    height: 85%;
}

h1 {
    text-align:  center;
    font-family: "Times New Roman", Times, serif;
    font-size:  48px;
    font-style:  oblique;
    font-weight: bold;
    text-shadow: 2px 2px 2px silver;
}

.navbar-brand {
    text-shadow: 0px 2px 3px #555;
}

.card-header {
    background-color:  silver;
}

.SONG_HEADER {
    color: #222;
    text-shadow: 0px 2px 3px #555;
}

.ICON {
    width: 24px;
    height: 24px;
}

.POSTER {
    max-width: 240;
    max-height: 320;
    width: 240;
    height: auto;
}

ol {
    list-style: none;
}

ul.UL_LIST {
    list-style: none;
}

ul.UL_LIST li a {
    color : #000;
    font-style: italic;
}

ul.OL_LIST {
    list-style: none;
    font-style: italic;
    background-color: lightgrey;
}

ol.OL_LIST {
    list-style: none;
    background-color: silver;
}

ul.OL_LIST li a {
    color : #000;
}

/*
 *  SliderNav - A Simple Content Slider with a Navigation Bar
 *  Copyright 2010 Monjurul Dolon, http://mdolon.com/
 *  Released under the MIT, BSD, and GPL Licenses.
 *  More information: http://devgrow.com/slidernav
 */

.slider { width: 100%; min-height: 150px; display: block; position: relative; background: #FFF; overflow: hidden; }

.slider ul { list-style: none; }

.slider-content { float: left; width: 100%; display: block; overflow: auto; min-height: 400px; }

.slider-content ul { float: left; width: 100%; display: block; position: relative; padding: 0px; }

.slider-content ul li { float: left; width: 100%; text-shadow: 2px 2px 2px silver; }

.slider-content ul ul li a { padding: 5px 10px; display: block; border-bottom: 1px solid #f3f3f3; }

.slider-content ul ul li a:hover { background: #f3faff; border-color: #d5ebf9; }

.slider-content .title { padding: 5px 0; text-indent: 10px; background: #bbb; color: #fff; width: 100%; float: left; font-weight: bold; text-transform: uppercase; }

.slider-content .selected .title { background: #666; }

.slider .slider-nav { position: absolute; right: 0; top: 0; background: gray; min-height: 150px; }

.slider .slider-nav ul { padding: 5px 0; }

.slider .slider-nav li a { padding: 3px 3px; line-height: 20px; text-align: center; color: #fff; font-weight: bold; display: block; text-transform: uppercase; cursor: pointer; text-shadow: 2px 2px 2px silver; }

.slider #debug { position: absolute; bottom: 0; left: 0; padding: 5px; background: #000; color: #fff; }

.slider .arrow { font-size: 0px; line-height: 0%; width: 0px; border-bottom: 8px solid white; border-left: 5px solid transparent; border-right: 5px solid transparent; position: relative; top: 5px; }

.slider .down { border-bottom: none; border-top: 8px solid #fff; top: 15px; }

.slider .slide-up, .slider .slide-down { height: 20px; background: gray; text-align: center; cursor: pointer; float: right; width: 100%; position: relative; }



.piano {
  display: flex;
}

.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 50px;
  background-color: white;
  border: 1px solid #333;
}

.white.active {
  background-color: #CCC;
}

.black {
  --width: 30px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}

:root {
    --black-100: #d6d9dc;
    --black-300: #9fa6ad;
}

table.langkbd {
    border: none;
}

td.keycol {
    background-clip: padding-box;
    border-radius: 5px;
    border: 5px solid white;
    cursor: pointer;
    background-color: var(--black-100)
}

td.keycol:hover {
    background-color:var(--black-300)
}

