:root, [data-bs-theme=light] {
    --indic-body-bg: lightgray;
    --indic-player-bg: silver;
    --indic-card-header-bg: silver;
    --indic-card-body-bg: lightgray;
    --indic-td: black;
    --indic-td-bg: silver;
    --indic-ul-list: black;
    --indic-ol-list: black;
    --indic-ol-bg: lightgray;
    --indic-alphabet-list-bg: gray;
    --indic-alphabet-list-active-bg: lightgray;
    --indic-alphabet-list-hover-bg: lightgray;
    --indic-alphabet-header-bg: gray;
    --indic-alphabet-data-bg: white;
    --indic-alphabet-data-hover-bg: silver;
    --indic-alphabet-data-active-bg: silver;
    --indic-alphabet-a: black;
    --indic-alphabet-border: lightgray;
    --indic-text-color: black;
    --indic-num-color: brown;
    --indic-link-color: darkgray;
    --indic-kbd-key: #000;
    --indic-kbd-bg: silver;
    --indic-kbd-hover-bg: lightgray;
}

[data-bs-theme=dark] {
    --indic-body-bg: dimgray;
    --indic-player-bg: dimgray;
    --indic-card-header-bg: black;
    --indic-card-body-bg: dimgray;
    --indic-td: white;
    --indic-td-bg: #606060;
    --indic-ul-list: white;
    --indic-ol-list: white;
    --indic-ol-bg: dimgray;
    --indic-alphabet-list-bg: black;
    --indic-alphabet-list-active-bg: dimgray;
    --indic-alphabet-list-hover-bg: dimgray;
    --indic-alphabet-header-bg: black;
    --indic-alphabet-data-bg: dimgray;
    --indic-alphabet-data-hover-bg: silver;
    --indic-alphabet-data-active-bg: gray;
    --indic-alphabet-a: dimgray;
    --indic-alphabet-border: dimgray;
    --indic-text-color: white;
    --indic-num-color: tan;
    --indic-link-color: darkgray;
    --indic-kbd-key: #FFF;
    --indic-kbd-bg: dimgray;
    --indic-kbd-hover-bg: lightgray;
}

body {
    background-color: var(--indic-body-bg);
}

/* Bootstrap 5 tweak: do not underline links unless hovered over */
a:not([class*="btn"]) {
    text-decoration: none;
}
a:not([class*="btn"]):hover {
    text-decoration: underline;
}

div#PLAYER {
    height: 120px;
    background-color: var(--indic-player-bg);
}

iframe#FRAME_PLAYER {
    border: none;
    width: 100%;
    height: 85%;
}

#LIST {
    height: 100%;
    z-index: 1;
}

#CONTENT {
    height: 100%;
}

#MENU {
    height: 100%;
}

#MENU_DATA ul li i {
    color: var(--indic-text-color);
}

#MENU_DATA ul li.active i {
    color: var(--indic-link-color);
}

#ALPHABET_LIST {
    background: var(--indic-alphabet-list-bg);
}

#ALPHABET_LIST a {
    padding: 3px 3px;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
    cursor: pointer;
    background-color: var(--indic-alphabet-list-bg);
}

#ALPHABET_LIST a.active {
    color: var(--indic-alphabet-a);
    background: var(--indic-alphabet-list-hover-bg);
}

#ALPHABET_LIST a:hover {
    border-color: var(--indic-alphabet-border);
    background: var(--indic-alphabet-list-hover-bg);
}

#ALPHABET_DATA {
    height: 90vh;
    position: relative;
    overflow-y: scroll;
    background: var(--indic-alphabet-data-bg);
}

#ALPHABET_DATA ul {
    list-style: none;
}

#ALPHABET_DATA ul li.active {
    color: var(--indic-link-color);
    background-color: var(--indic-alphabet-data-active-bg);
}

#ALPHABET_DATA ul li a {
    padding: 5px 10px;
    display: block;
    border-bottom: 1px solid #f3f3f3;
}

#ALPHABET_DATA ul li a:hover {
    border-color: var(--indic-alphabet-border);
    background: var(--indic-alphabet-data-hover-bg);
}

.ALPHABET_HEADER {
    font-weight: bold;
    font-style: italic;
    background-color: var(--indic-alphabet-header-bg);
}

.card-header {
    background-color: var(--indic-card-header-bg);
}

.card-body {
    background-color: var(--indic-card-body-bg);
}

.table td {
    color: var(--indic-td);
    background-color: var(--indic-td-bg);
}

.CONTENT_HEADER {
    color: var(--indic-text-color);
    text-shadow: 0px 2px 3px #555;
}

.ICON {
    width: 24px;
    height: 24px;
}

.NAV_ICON{
    font-size: 2rem;
}

.NAV_STYLE {
    font-size: 1.5rem;
}

.POSTER_STYLE {
    width: 32px !important;
    height: 32px !important;
    font-size: 2.0rem;
    color: var(--indic-text-color) !important;
}

.IMAGE_STYLE {
    width: 64px !important;
    height: 48px !important;
}

.ICON_STYLE {
    font-size: 1.5rem;
    color: var(--indic-text-color) !important;
}

.TEXT_COLOR {
    color: var(--indic-text-color) !important;
}

.NUM_COLOR {
    color: var(--indic-num-color) !important;
}

.REF_COLOR {
    color: var(--indic-text-color) !important;
    background-color: var(--indic-ol-bg) !important;
}

.POSTER {
    max-width: 240;
    max-height: 320;
    width: 240;
    height: auto;
}

ol {
    list-style: none;
}

ul.UL_LIST {
    list-style: none;
}

ul.UL_LIST li a {
    font-style: italic;
    color : var(--indic-ul-list);
}

ul.OL_LIST {
    list-style: none;
    font-style: italic;
    background-color: var(--indic-ol-bg);
}

ul.OL_LIST li a {
    color : var(--indic-ol-list) !important;
}

ul.OL_LIST li.active a {
    color: var(--indic-link-color) !important;
}

#PLAYLIST_TABLE th, #PLAYLIST_TABLE td {
    color: var(--indic-text-color) !important;
}

#PAGE_LYRICS {
    margin-top: -100px;
    padding-top: 100px;
}

table.langkbd {
    border: none;
}

td.keycol {
    background-clip: padding-box;
    border-radius: 5px;
    border: 5px solid white;
    cursor: pointer;
    color: var(--indic-kbd-key) !important;
    background-color: var(--indic-kbd-bg);
}

td.keycol:hover {
    background-color:var(--indic-kbd-hover-bg)
}

.PIANO {
    display: flex;
}

.key {
    height: calc(var(--width) * 4);
    width: var(--width);
}

.white {
    --width: 50px;
    border: 1px solid #333;
    color: black;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.white.active {
    background-color: #CCC;
}

.black {
    --width: 30px;
    margin-left: calc(var(--width) / -2);
    margin-right: calc(var(--width) / -2);
    z-index: 2;
    color: white;
    background-color: black;
}

.black.active {
    background-color: #333;
}
