
body {
    background-color:  #F2F2F2;
}

#LIST {
    height: 100%;
    z-index: 1;
}

#MENU {
    height: 100%;
}

#MENU_DATA ul li.active img {
    background-color: silver;
}

#ALPHABET_DATA {
    height: 90vh;
    position: relative;
    overflow-y: scroll;
}

#ALPHABET_DATA ul li.active {
    background-color: silver;
}

#ALPHABET_LIST {
    background: silver;
}

#ALPHABET_LIST a {
    padding: 3px 3px; line-height: 20px; text-align: center; font-weight: bold; display: block;
    text-transform: uppercase; cursor: pointer;
}

#ALPHABET_LIST a.active {
    color: black;
    background-color: silver;
}

.letter-heading {
    font-weight: bold;
    font-style: italic;
}

#ALPHABET_DATA {
    background: #FFF;
}

#ALPHABET_DATA ul {
    list-style: none;
}

#ALPHABET_DATA ul li a {
    padding: 5px 10px; display: block; border-bottom: 1px solid #f3f3f3;
}

#ALPHABET_DATA ul li a:hover {
    background: #f3faff; border-color: #d5ebf9;
}

#CONTENT {
    height: 100%;
}

div#PLAYER {
    background-color: silver;
    height: 120px;
}

iframe#FRAME_PLAYER {
    border: none;
    width: 100%;
    height: 85%;
}

h1 {
    text-align:  center;
    font-family: "Times New Roman", Times, serif;
    font-size:  48px;
    font-style:  oblique;
    font-weight: bold;
    text-shadow: 2px 2px 2px silver;
}

.navbar-brand {
    text-shadow: 0px 2px 3px #555;
}

.card-header {
    background-color:  silver;
}

.SONG_HEADER {
    color: #222;
    text-shadow: 0px 2px 3px #555;
}

.ICON {
    width: 24px;
    height: 24px;
}

.INFOPOSTER {
    width: 64;
    height: 96;
}

.POSTER {
    max-width: 240;
    max-height: 320;
    width: 240;
    height: auto;
}

ol {
    list-style: none;
}

ul.UL_LIST {
    list-style: none;
}

ul.UL_LIST li a {
    color : #000;
    font-style: italic;
}

ul.OL_LIST {
    list-style: none;
    font-style: italic;
    background-color: lightgrey;
}

ol.OL_LIST {
    list-style: none;
    background-color: silver;
}

ul.OL_LIST li a {
    color : #000;
}

/* Bootstrap 5 tweak: do not underline links unless hovered over */
a:not([class*="btn"]) {
    text-decoration: none;
}
a:not([class*="btn"]):hover {
    text-decoration: underline;
}

.piano {
  display: flex;
}


.key {
  height: calc(var(--width) * 4);
  width: var(--width);
}

.white {
  --width: 50px;
  background-color: white;
  border: 1px solid #333;
}

.white.active {
  background-color: #CCC;
}

.black {
  --width: 30px;
  background-color: black;
  margin-left: calc(var(--width) / -2);
  margin-right: calc(var(--width) / -2);
  z-index: 2;
}

.black.active {
  background-color: #333;
}

:root {
    --black-100: #d6d9dc;
    --black-300: #9fa6ad;
}

table.langkbd {
    border: none;
}

td.keycol {
    background-clip: padding-box;
    border-radius: 5px;
    border: 5px solid white;
    cursor: pointer;
    background-color: var(--black-100)
}

td.keycol:hover {
    background-color:var(--black-300)
}

@keyframes app-shake {
   0%, 90% { transform: translate3d(-4px, 0, 0); background: white; }
  10%, 80% { transform: translate3d(4px, 0, 0); background: yellow; }
  20%, 70% { transform: translate3d(-4px, 0, 0); background: lawngreen; }
  30%, 60% { transform: translate3d(4px, 0, 0); background: orange; }
  40%, 50% { transform: translate3d(-4px, 0, 0); background: cyan; }
}

#APP_ICON {
  animation-name: app-shake;
  animation-duration: 5s;
  animation-iteration-count: 5;
}
